@page "{id:Guid?}"
@model AgendaDio.Areas.Contatos.Pages.Index1Model
@{
    Layout = "_Layout";
    ViewData["Title"] = "Novo/Editar Contato";
}
<div class="row">
    @if (Model.Contato.Id == Guid.Empty)
    {
        <h2 class="text-info">Novo Contato</h2>
    }
    else
    {
        <h2 class="text-info">Alterar Contato Id: @Model.Contato.Id</h2>
    }
</div>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Contato.Id" />
    <div class="border backgroundWhite">
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contato.Nome" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contato.Nome" class="form-control" />
                <span asp-validation-for="Contato.Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contato.Telefone" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contato.Telefone" class="form-control" />
                <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contato.Email" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contato.Email" class="form-control" />
                <span asp-validation-for="Contato.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contato.Nascimento" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input asp-for="Contato.Nascimento" class="form-control" />
                <span asp-validation-for="Contato.Nascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-2">
                <label asp-for="Contato.FotoUrl" class="label-weight-bold"></label>
            </div>
            <div class="col-5">
                <input type="file" asp-for="Contato.Foto" class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        @if (Model.Contato.Id == Guid.Empty)
                        {
                            <input type="submit" class="btn btn-success form-control" value="Salvar" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-warning form-control" asp-page-handler="Update" value="Alterar" />
                        }
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-danger form-control">Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }